@font-face {
    font-family: 'norwester';
    src: url('norwester/norwester.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Tenor_Sans;
    src: url(Tenor_Sans/TenorSans-Regular.ttf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
html{
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;

    
}
.body-designer{
    background-color: #545454;
}
.norwester{
    font-family: norwester;
    color: white;
    
    
}
.body-tenor{
    font-family: Tenor_Sans;
    color: white;
    font-size: 2rem;
}


.title-modifier{
    padding-top: 6rem;
    font-size: 4rem;
    color: #545454;
    text-align: left;
    margin: 0;
}

#body-about{
    padding-bottom: 8rem;
    color: #545454;
    text-align: left;
    padding-top: 2rem;
    
}
.large{
    padding-left: 5rem;
    padding-right: 5rem;
}

.hobby-container{
    background-color: #7D7463;
}

.container-flex{
   
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 6rem;
    height: 27rem
}
.hobby-image{
    width: 15em;
    height: 15em;
}

@media screen and (max-width: 700px) {

    .hobby-image{
        width: 11em;
        height: 11em;
    }
}

@media screen and (max-width: 600px) {

    .hobby-image{
        width: 8em;
        height: 8em;
    }
}

#body-quote{

    padding-bottom: 8rem;
    color: #545454;
    font-weight: bolder;
    text-align: center;
    padding-top: 8rem;
    
}